@model SabraMedicalCenter.Areas.Student.Models.StudentDetailsDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<div class="container well " style="border-style:ridge">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3><b>Your Personal Information</b></h3>
            </div>
            <div class="panel-body center ">

                <div>
                    <h4></h4>
                    <hr />
                    <dl class="dl-horizontal well-lg">

                        <dt>
                            @Html.DisplayNameFor(model => model.studentname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.studentname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.studentregno)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.studentregno)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.age)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.age)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.nicno)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nicno)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.gender)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.dataofbirth)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.dataofbirth)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.faculty)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.faculty)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.year)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.year)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.rationanal)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.rationanal)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.familymembers)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.familymembers)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fathernmae)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fathernmae)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.mothername)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mothername)
                        </dd>

                    </dl>
                </div>

            </div>

        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>



@*<p>
    @Html.ActionLink("Edit", "edittudentdetails", "StudentDetails", new { id = Model.nicno }) |
    @Html.ActionLink("Reset Password", "passwordreset", "StudentDetails", new { id = Model.nicno })
    @Html.ActionLink("Your History", "studenthistory", "StudentDetails")
</p>*@

